*.docx
*.csv
*.pdf
*.xlsx
*.ipynb_checkpoints
*.bed
*.bim
*.fam
*.hh
*.log
*.assoc
*.txt
*.tsv
*.rda
*.html
*.pkl

*_cache/
*_files/

biovu_code_tutorials/output/
manuscripts/
articles/
snorkel_med/
irb_sd_biovu_apps_approvals/
old/
proposal/
sd_structured/icd/athena_icd_cpt_snomed/
sd_text/individual_notes/
snorkel-tutorials/
runs/
bert_models/
Marees GWAS tutorial code/
prediction_model/gru/GRU-D/
